/pos/nbproject/private/
/POS/nbproject/private/
/Sale/nbproject/private/
/POS/build
/Sale/build/
/PointOfSale/nbproject/private/
/DBUtil/nbproject/private/
/crud/nbproject/private/
/CreatReadDeletUpdate/nbproject/private/
/CreatReadDeletUpdate/build/
/PointOfSale/build/
/showCrud/nbproject/private/
/showCrud/build/
